/* -------------- Reset style ---------------------*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
input,
button,
textarea,
select {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
ul[class],
ol[class] {
  list-style: none;
}
ul li {
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}
/* -------------- Google Fonts ---------------------*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

/* -------------- Body ---------------------*/
body {
  font-family: -apple-system, BlinkMacSystemFont, Inter, "Segoe UI", "Roboto", "Oxygen", "Cantarell", "Fira Sans",
    "Droid Sans", "Arial", sans-serif;
}
/* -------------- CSS-vars ---------------------*/
:root {
  --primaryColor-gray: #f0f0f4;
  --borderColor-gray: #7a797a;
  --background-color: #ebebeb;
  --textColor: #494949;
  --codColor: #dd0f9e;
  --borderRadius: 0.5rem;
  --titleFontSize: clamp(1.8rem, 2vw + 1rem, 3rem);
  --subTitleFontSize: clamp(1.4rem, 1vw + 1rem, 2.2rem);
  --bottom: clamp(0.1rem, 0.3vw, 0.35rem);
  --top: clamp(0.1rem, 1vw, 1rem);
  --textFontSize: clamp(1.2rem, 1vw + 1rem, 1.8rem);
}
/* -------------- Scrollbar---------------------*/
::-webkit-scrollbar {
  width: 0.8rem;
}
::-webkit-scrollbar-track {
  background: var(--background-color);
}
::-webkit-scrollbar-thumb {
  background: var(--textColor);
  border-radius: 0.5rem;
}
/* -------------- Grid container---------------------*/
.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(6rem, auto) 1fr minmax(6rem, auto);
  grid-template-areas:
    "header"
    "main"
    "footer";
  row-gap: 3rem;
  min-height: 100%;
}
/* -------------- Header ---------------------*/
.header {
  display: grid;
  align-items: center;
  grid-area: header;
  background-color: var(--borderColor-gray);
  padding: 2rem;
  grid-template-columns: 1fr minmax(auto, 22rem) minmax(auto, 122rem) 1fr;
  &__title {
    font-size: var(--titleFontSize);
    font-weight: 700;
    color: #fff;
    grid-column: 2 / 3;
  }
  &__nav {
    grid-column: 3 / 4;
    justify-self: center;
    @media screen and (max-width: 769px) {
      display: none;
    }
  }
  &__menu {
    display: flex;
    column-gap: 5rem;
  }
  &__menu-item {
    position: relative;
    &:hover .header__submenu {
      opacity: 1;
      visibility: visible;
      transition: 0.5s all ease;
    }
    &:hover::after {
      top: var(--top);
      transform: rotate(-225deg);
      transition: 0.2s all ease;
      border-color: transparent transparent #fff #fff;
    }
    &::after {
      content: "";
      position: absolute;
      top: var(--bottom);
      right: -2.2rem;
      width: 1rem;
      height: 1rem;
      border: 0.2rem solid #fff;
      border-color: transparent transparent #fff #fff;
      border-radius: 0.2rem;
      transform: rotate(-45deg);
      transition: 0.2s all ease;
    }
  }
  &__menu-link {
    color: #fff;
    font-weight: 500;
    font-size: var(--subTitleFontSize);
    padding-bottom: 1.6rem;
  }
  &__submenu {
    opacity: 0;
    visibility: hidden;
    background-color: var(--primaryColor-gray);
    border-radius: var(--borderRadius);
    padding: 1.5rem;
    position: absolute;
    z-index: 10;
    min-width: 26rem;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 20%);
  }
  &__submenu-link {
    color: var(--textColor);
    font-weight: 500;
    font-size: 1.8rem;
    padding: 1rem 2rem;
    text-align: center;
    display: block;
    &:hover {
      background-color: var(--codColor);
      border-radius: var(--borderRadius);
      color: #fff;
    }
  }
}
/* -------------- Main ---------------------*/
.main {
  display: grid;
  grid-area: main;
  grid-template-columns: 1fr minmax(auto, 114rem) minmax(auto, 30rem) 1fr;
  column-gap: 1.5rem;
}
/* -------------- Content ---------------------*/
.content {
  grid-column: 2 / 3;
  @media screen and (max-width: 768px) {
    grid-column: 2 / 4;
  }
}
/* -------------- Navbar ---------------------*/
.navbar {
  grid-column: 3 / 4;
  padding: 1.5rem;
  @media screen and (max-width: 768px) {
    display: none;
  }
  &__column {
    position: sticky;
    top: 3rem;
  }
  &__menu-link {
    color: var(--textColor);
    font-size: 1.6rem;
    border-left: 0.1rem solid var(--borderColor-gray);
    padding: 0.7rem 1.2rem;
    display: block;
    &--active {
      border-left: 0.3rem solid var(--codColor);
      background-color: var(--background-color);
      font-weight: 500;
    }
  }
}

/* -------------- Footer ---------------------*/
.footer {
  display: grid;
  grid-area: footer;
  grid-template-columns: 1fr minmax(auto, 144rem) 1fr;
  column-gap: 1.5rem;
  background-color: var(--borderColor-gray);
  place-items: center;
  &__content {
    grid-column: 2 / 3;
  }
  &__text {
    color: #fff;
    font-size: 2rem;
    font-weight: 500;
  }
}
/* -------------- Sections ---------------------*/
.section {
  padding: 1.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  &__header {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    @media screen and (max-width: 768px) {
      max-width: 70%;
    }
  }
  &__title {
    font-size: var(--titleFontSize);
    font-weight: 500;
    color: var(--textColor);
  }
  &__subtitle {
    font-size: var(--textFontSize);
    font-weight: 400;
    color: var(--textColor);
  }
  &__row {
    display: flex;
    justify-content: space-between;
    background-color: var(--primaryColor-gray);
    border-radius: var(--borderRadius);
    border-left: 0.5rem solid var(--codColor);
    padding: 1.5rem;
    gap: 2rem;
    & > * {
      flex: 0 1 33.333%;
    }
    @media screen and (max-width: 1024px) {
      flex-direction: column;
    }
  }
  &__column {
    display: flex;
    font-size: var(--textFontSize);
    column-gap: 1.5rem;
  }
  &__copy {
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    @media screen and (min-width: 769px) {
      position: relative;
      &::before,
      &::after {
        --scale: 0;
        position: absolute;
        top: -1rem;
        left: 50%;
        transform: translateX(-50%) translateY(-100%) scale(var(--scale));
        transition: 250ms transform;
        transform-origin: bottom center;
      }
      &::before {
        content: attr(data-tooltip);
        width: max-content;
        background-color: var(--textColor);
        color: #fff;
        padding: 1rem;
        border-radius: 0.5rem;
        font-size: 1.6rem;
        text-align: center;
      }
      &:hover::before,
      &:hover::after {
        --scale: 1;
      }
      &:hover::after {
        content: "";
        width: 1.4rem;
        height: 1.4rem;
        background-color: var(--textColor);
        border-radius: 0.2rem;
        top: -2rem;
        transform: translateX(-100%) rotate(45deg);
      }
    }
  }
  &__code {
    color: var(--codColor);
  }
  &__html {
    color: var(--textColor);
    line-height: 1.3;
  }
  &__svg {
    pointer-events: none;
  }
  &__result {
    border: 0.2rem solid var(--borderColor-gray);
    border-radius: var(--borderRadius);
    padding: 1rem;
    @media screen and (max-width: 1024px) {
      min-height: 10rem;
    }
  }
  &__intro {
    color: var(--codColor);
    font-size: 1.8rem;
  }
}
/* -------------- Result ---------------------*/
.p-0 {
  padding: 0;
}
.c-1 + pre {
  background-color: #b6b6b6;
}
.p-1 > pre {
  background-color: #b6b6b6;
}
.c-2 ~ pre {
  background-color: #b6b6b6;
}
.p-3 .c-3 {
  background-color: #b6b6b6;
}
a[title] {
  color: var(--greenColor);
  font-weight: 700;
  font-size: 1.6rem;
  display: block;
}
a[title="some-text"] {
  color: brown;
  font-weight: 700;
  font-size: 1.6rem;
  display: block;
}
a[href*="some-url"] {
  color: rgb(32, 30, 30);
  font-weight: 700;
  font-size: 1.6rem;
  display: block;
}
a:link {
  text-decoration: none;
}
.section__result.p-4 {
  border: 2px solid var(--codColor);
}
.p-5 pre {
  background-color: #b6b6b6;
}
.p-6 > :not(:nth-child(1)) {
  background-color: #b6b6b6;
}
.c-4:nth-child(2) {
  background-color: #b6b6b6;
}
input[type="checkbox"]:checked + label {
  color: var(--textColor);
}
label {
  font-weight: 500;
  font-size: 1.6rem;
  color: var(--codColor);
  user-select: none;
}
.p-7 {
  position: relative;
}
.c-5 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.p-8 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.p-9 {
  display: grid;
  place-items: center;
}
.p-10 {
  display: grid;
}
.c-6 {
  margin: auto;
}
/* -------------- User-alert ---------------------*/
.user-alert {
  background-color: var(--primaryColor-gray);
  padding: 1rem;
  position: absolute;
  top: 1.6rem;
  right: 1.4rem;
  font-weight: 500;
  font-size: 1.6rem;
  color: var(--textColor);
  border-radius: var(--borderRadius);
  border-left: 0.5rem solid var(--codColor);
}
/* -------------- Button up ---------------------*/
.up {
  width: 5rem;
  height: 5rem;
  background-color: var(--textColor);
  border-radius: 50%;
  position: fixed;
  inset: auto 2rem 2rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  &__arrow {
    width: 2rem;
    height: 2rem;
    border: 0.3rem solid #fff;
    border-color: transparent transparent #fff #fff;
    border-radius: 0.4rem;
    transform: rotate(135deg);
    margin-top: 1rem;
  }
}
